@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {

    /*PRIMARIO*/
    --vermelho-claro: hsl(0, 100%, 67%);
    --amarelo-alaranjado: hsl(39, 100%, 56%);
    --verde-teca: hsl(166, 100%, 37%);
    --cobalto-azul: hsl(234, 85%, 45%);

    /*GRADIENTES*/
    --azul-ardosia-fundo: hsl(252, 100%, 67%);
    --azul-claro-fundo: hsl(241, 81%, 54%);
    --violeta-azul-circulo: hsla(256, 72%, 46%, 1);
    --azul-persa: hsla(241, 72%, 46%, 0);

    /*NEUTRO*/
    --branco: hsl(0, 0%, 100%);
    --azul-palido: hsl(221, 100%, 96%);
    --alfazema-clara: hsl(241, 100%, 89%);
    --azul-cincentro: hsl(224, 30%, 27%);
    --preto: #000000;
}
body {
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    font-family: 'Hanken Grotesk', sans-serif;
}
.container {
    display: flex;
    width: 600px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 15px 20px 11px rgb(0, 0, 0, 40%);
}
.left {
    color: var(--branco);
    padding: 20px;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(hsl(252,100%,67%), hsl(241,81%,54%));
}
.right {
    width: 50%;
    padding: 20px;
}
.left h4 {
    align-content: center;
}
.score-left {
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    box-shadow: inset 1px 1px 12px 0px var(--violeta-azul-circulo);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    
}
.big-score {
    color: var(--branco);
    font-weight: bold;
    font-size: 60px;
}
.small-score {
    text-align: center;
}
.score-con {
    display: flex;
}
.score-reaction, .score-memory, .score-verbal, .score-visual {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--azul-persa);
    border-radius: 10px;
}
.score-reaction {
    color: var(--vermelho-claro);
}
.score-memory {
    color: var(--amarelo-alaranjado);

}
.score-verbal {
    color: var(--verde-teca);
}
.score-visual {
    color: var(--cobalto-azul);
}
#black-text {
    color: var(--preto);
    font-weight: bold;
}
.grey {
    color: rgba(87, 87, 87, 0.992);
}
.score-con img {
    margin-right: 5px;
}

button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    color: var(--branco);
    outline: none;
    background-color: var(--azul-cincentro);
    border-radius: 20px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color: var(--azul-ardosia-fundo);
}

@media (max-width: 760px) {
    .left {
        width: 100%;
        padding: 0;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .right {
        padding: 0px;
        width: 100%;
    }
    .left-text {
        padding: 0px;
        text-align: center;
    }
    .container {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        border-radius: 0px;
        overflow: hidden;
        padding: 0;
    }
}



